#add-post-row {
    direction: rtl;
  }
  
  #add-post-row .form-group label {
    color: #333;
    font-weight: bold;
    direction: ltr;
  }
  
  #add-post-row .card {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  #add-post-row .card-title {
    color: #007bff;
  }
  
  #add-post-row .form-group {
    margin-bottom: 1.5rem;
  }
  
  #add-post-row .select-input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  #add-post-row .btn-primary {
    background-color: #007bff;
    border: none;
    
  }
  
  #add-post-row .btn-primary:hover {
    background-color: #0056b3;
  }
  
 
  #add-post-row .card-title.text-center.mb-4
  {
 color: #007bff;  
 text-shadow: 0px 5px 3px #110d0d44;}