.containercontack {
 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    border: 1px solid #396afc;
    background: linear-gradient(to right, #005c97, #363795);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url('../uploads/ContactUs.jpg'); 
    background-size: cover;
    background-position: center;
    
  }
  
  .containercontack form .descr {
    font-size: 50px;
    font-weight: 500;
    color: #2b9be5;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
  }
  
  .formContact {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid #396afc;
    padding: 60px;
    background-color: #ffffffa2;
  }
  
  .inputContact, textarea {
    margin: 1em 0 1em 0;
    width: 300px;
    position: relative;
    
    
  }
  
  .inputContact input, textarea {
    
    font-size: 100%;
    padding: 0.7em;
    outline: none;
    color: #000000;
    border: none;
    border-bottom: 2px solid #74b0e1;
    background: transparent;
    border-radius: none;
    width: 100%;
    resize: none;
    background-color: #a7d1fa71;

  }
  
  
  .inputContact label {
    top: -7px;
    font-size: 25px;
    position: absolute;
    left: 0;
    color: rgb(80, 164, 237);
    padding: 0.7em;
    margin-left: 0.1em;
    pointer-events: none;
    transition: all 0.5s ease;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(27, 45, 214), 0 0 0.2em rgb(12, 105, 255);
  }
  
  .inputContact :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .inputContact textarea:focus ~ label,
  .inputContact textarea:valid ~ label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    padding: 0.4em;
    background: transparent;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(37, 37, 211);
    
  }
  
  .formContact button {
    color: #0f6ed3;
    font-size: 15px;
    align-self: flex-start;
    padding: 0.6em;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    background: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;

  }
  
  .formContact button:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e5faa;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .formContact button:hover:before {
    opacity: 0.2;
  }
  
  .formContact button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  