.contact-wrapper {
  direction: rtl;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  background:url("../uploads/ContactUs.jpg");
  font-family: "Heebo", sans-serif;
  height: 900px;
}

.contact-info-box {
  flex: 1;
  min-width: 280px;
  margin: 20px;
  padding: 80px;
  background: #fff8e1;
  border: 1px solid #ffe0b2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.08);
}

.contact-info-box h2 {
  color: #5a2d0d;
  font-size: 28px;
}

.contact-info-box p {
  margin: 10px 0;
  color: #333;
}

.social-icons a {
  margin-inline-end: 10px;
  color: #5a2d0d;
  font-size: 20px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  margin: 20px;
  padding: 30px;
  background: #ffffffdd;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.contact-form h2 {
  font-size: 24px;
  color: #5a2d0d;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}
