/* גרסה שולחנית */
.filter-slide-container.desktop {
  position: fixed;
  top: 80px;
  right: 0;
  width: 260px;
  height: calc(100vh - 80px);
  z-index: 1000;
  background-color: white;
  border-left: 1px solid #ccc;
  
}

/* גרסה ניידת */
.filter-slide-container.mobile {
  position: fixed;
  top: 80px;
  right: 0;
  height: calc(100vh - 80px);
  z-index: 1000;
  transform: translateX(100%);
  display: flex;
  transition: transform 0.3s ease;
  overflow: visible;
}

.filter-slide-container.mobile.open {
  transform: translateX(0);
}

.filter-sidebar {
  direction: rtl;
  width: 260px;
  padding: 16px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

/* כפתור גרירה */
.drag-button {
  position: fixed;
  top: 90px;
  right: 0;
  transform: translateY(0);
  background-color: #ffffff;
  color: rgb(0, 38, 255);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500;
}

.drag-button.hidden {
  display: none;
}

/* הסתרה במסכים גדולים */
@media (min-width: 769px) {
  .drag-button {
    display: none;
  }
}

/* שכבת כיסוי כהה */
.overlay {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
