

.text-flicker {
    text-align: center;
    color: blue;
    font-size: 35px;
background-color: rgb(0, 84, 253);
    animation: flicker 3s infinite;
  }

    @keyframes flicker {
      from { opacity: 1; /* Непрозрачный текст */ }
      to { opacity: 0; /* Прозрачный текст */ }
    }