/* Login.css */

/* Style the login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
   
  }
  
  .text-center.mb-4{
    color: white;
  }
  .form-group label{
    color: white;

  }
  /* Style the form container */
  .form-container {
    max-width: 350px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #2b49f8, #54ad44);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Style form input fields */
  .form-group input {
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style the login button */
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #27ae60;
  }
  
  /* Style error and success messages */
  .error-message, .success-message {
    margin-top: 20px;
    font-weight: bold;
    color: #e74c3c;
  }
  
  .success-message {
    color: #2ecc71;
  }
  
  